.container {
  background-color: #393e46;
  margin-top: 70px;
  color: #eeeeee;
  border: solid;
}

.container-2 {
  background-color: #393e46;
  margin-top: 70px;
  height: 1000px;
  width: 80%;
  color: #eeeeee;
  margin: auto;
  margin-top:20px;
}
.cover {
  height: 400px;
  /* background-size: cover; */
  border: solid;
  background-repeat: no-repeat;
  background-size: 100%;
}

.description {
  text-align: center;
}

p, ul {
  text-align: left;
  list-style: none;
}

/* i {
  size: 9x;
} */


.far:hover {
  color:yellow;
}
