<div class="container">
  <div class="row">
    <div class="col-sm-12" *ngIf="!currentSession.loggedIn">

      <h1>Zaloguj się</h1>
      <span *ngIf="currentSession.serverMessage !== null">{{this.loggingService.serverResponse.message}}</span>
      <!-- ZAKOŃCZONE NA: 204. REACTIVE: ADDING VALIDATION -->
      <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <label for="userName">Nazwa użytkownika</label>
            <input
             id="username"
             type="text"
             formControlName="username"
             class="form-control">
          </div>
          <div class="form-group">
            <label for="password">Hasło</label>
            <input
              id="password"
              type="password"
              formControlName="password"
              class="form-control">
          </div>
          <button type="submit" class="btn btn-light">Zaloguj się</button>
          <br>
          <small>Nie masz konta? <a routerLink="/register">Zarejestruj się!</a></small>
      </form>
    </div>
  </div>
  <button (click)="this.loggingService.addCookie()">Klik</button>

  <div class="col-sm-12" *ngIf="currentSession.loggedIn">
    <h1>Witaj {{currentSession.userName}} </h1>
  </div>
</div>
