/* Colors: #eeeeee #d65a31 #393e46 #222831 */

.container {
  border: solid;
  border-color: #eeeeee;
  background-color: #393e46;
  margin-top: 70px;
  border-width: 1px;
  width: 50%;
  color: #eeeeee;
  /* text-align: center; */
}

.row {
  text-align: center;
}

input {
  margin: auto;
}

a {
  color: #d65a31;
}

h1 {
  margin-bottom: 20px;
}

button {
  margin-bottom: 10px;
}
