<h3 class="session-header" *ngIf="this.loggingService.session.loggedIn">Zalogowany jako {{ this.loggingService.session.userName }}</h3>
<div class="container">
    <ul class="row">
        <li class="col-sm-2"><a routerLink="/">Strona główna</a></li>
        <li class="col-sm-2">
          <a routerLink="/movie-list">Filmy</a>
          <ul>
            <li><a>Gatunki</a></li>
            <li><a>Nowości</a></li>
            <li><a>Nadchodzące</a></li>
          </ul>
        </li>
        <li class="col-sm-2" *ngIf="!this.loggingService.session.loggedIn"><a routerLink="/login">Zaaaaaloguj się</a></li>
        <li class="col-sm-2" *ngIf="this.loggingService.session.loggedIn" (click)="logOut()"><a>Wyloguj się</a></li>
        <li class="col-sm-2" *ngIf="this.loggingService.session.loggedIn"><a (click)="showMessage()" [routerLink]="['/user-panel', this.loggingService.session.userId]">Mój profil</a></li>
        <li class="col-sm-6" *ngIf="!this.loggingService.session.loggedIn">
          <app-search-tool></app-search-tool>
        </li>
        <li class="col-sm-4" *ngIf="this.loggingService.session.loggedIn">
          <app-search-tool></app-search-tool>
        </li>
      </ul>
    </div>

<!-- <app-search-tool></app-search-tool> -->
